@import '~styles/global';

.Nav {
  padding: rem(45px);
  display: flex;
  flex-direction: row;
  align-items: center;

  a {
    text-decoration: none;
    color: white;
  }

  & > :not(:first-child) {
    margin-left: rem(30px);
  }
}

.LogoContainer {
  margin-right: rem(5px);
}

.NavItem {
  display: inline-block;
  position: relative;
  opacity: 0.5;
  text-decoration: none;
  font-size: rem(14px);
  font-weight: 600;
  transition: opacity 0.2s ease;
}

.NavItemActive {
  opacity: 1;
}
